{% for room in rooms %}
<div>
    {% if request.user == room.host %}
    <a href="{% url 'updateroom' room.id %}"> Edit</a>
    <a href="{% url 'deleteroom' room.id %}"> Delete</a>
    {% endif %}
    {% if room.host %}
        <a href="{% url 'userprofile' room.host.id %}">@{{ room.host.username }}</a>
    {% else %}
        No host
    {% endif %}
    <h5>{{ room.id }} -- <a href="{% url 'room' room.id %}">{{ room.name }}</a></h5>
    <small>{{ room.topic }}</small>            
</div>
<hr>
{% endfor %}
