{% extends "main.html" %}

{% block content %}
<style>
    .home-Container {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }
</style>

<div class="home-Container">
    <div>
        {% include "home/topics_component.html" %}
    </div>
    <div>
        <p>{{ count }} rooms Available </p>
        <a href="{% url 'createroom' %}">Create Room</a>
        {% include "home/feed_component.html" %}
    </div>

    <div>
        <div>
            {% include "home/activity_component.html " %}
        </div>
    </div>
</div>
<!-- Moved Create Room link outside of the home-Container div -->
{% endblock %}
