<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <style>
        /* CSS for adjusting the size of the logo */
        .logo {
            width: 150px; /* Adjust width as needed */
            height: auto; /* Maintain aspect ratio */
        }
    </style>
</head>
<body>
    {% load static %}
    <img src="{% static 'styles/images/Logo.png' %}" alt="No img" class="logo">
    <form method="GET" action="{% url 'home' %}">
        <input type="text" name="q" placeholder="Search rooms">
    </form>
    {% if request.user.is_authenticated %}
    <p>Hello {{ request.user }}</p>
    <a href="{% url 'logout' %}">Logout</a>
    {% else %}
    <a href="{% url 'login' %}">Login</a>
    {% endif %}
</body>
</html>
